@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    
    <p class="lead">Welcome to GC Coffee</p>
                    
    <p>   Shop!   <a href="http://localhost:51052/Home/Registration" class="">Register</a></p>
</div>

